<div class="container">
	<div class="row">
        <div id="speaker-detail" class="col-lg-6 col-lg-offset-3">
            <div class="row">
            	<button title="Close (Esc)" type="button" class="mfp-close">×</button>
                
                <div class="col-md-4 col-lg-4">
                    <img class="img-responsive" src="img/alexeylustin.jpg" alt="Алексей Лустин" /><br />
                    <i class="fa fa-lg fa-linkedin"></i><a href="https://www.linkedin.com/in/alexeylustin">Alexey Lustin</a><br />
                </div>
                    
                <div class="col-md-8 col-lg-8">
                    <h2>Алексей Лустин</h2>
                    <h3>Автор и ведущий</h3>
                    <p>Основная специализация — разработка бизнес-приложений на платформе 1С внутренними и внешними командами, с применением гибких методик разработки. За последние 15 лет занимал должности от администратора инфраструктуры до заместителя директора софтверной компании. Лично исполнял роли ведущего программиста, менеджера продукта, технического лидера и архитектора. А также заместителя ИТ-директора у прямых работодателей в отраслях торговли, промышленности и сферы услуг. Сторонник гетерогенных подходов при выборе архитектуры системы. Отношение в ИТ-сообществе олицетворяет один термин — <strong>Overskilled.</strong></p>
					<p>Докладчик, ведущий, модератор конфереций Infostart Event 2012-2014</p>
					<p>Партнер Microsoft по внедрению ALM на продуктах 1С:Предприятие</p>
					<p>Докладчик клуба ИТ директоров Microsoft<</p>
					<p>Докладчик SECR2014 по внедрению BigData на платформе 1С</p>
					<p>Докладчик AgileDays по внедрению BDD на продуктах 1С</p>
					<p>Участник Russian OpenStack Community (1С + OpenStack)</p>
					<p>Участник OpenSource проектов xDrivenDevelopment и 1Script</p>
                </div>
            
            </div>
        </div>
    </div>
</div>