<div class="container">
	<div class="row">
        <div id="speaker-detail" class="col-lg-6 col-lg-offset-3">
            <div class="row">
            	<button title="Close (Esc)" type="button" class="mfp-close">×</button>
                
                <div class="col-md-4 col-lg-4">
                    <img class="img-responsive" src="img/evgeniysosna.jpg" alt="Евгений Сосна" /><br />
                    <a href="http://ua.linkedin.com/pub/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D1%81%D0%BE%D1%81%D0%BD%D0%B0/a0/843/955?trk=shareTw"><i class="fa fa-lg fa-linkedin"></i></a>
			        <a href="https://plus.google.com/+%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9%D0%A1%D0%BE%D1%81%D0%BD%D0%B0/posts"><i class="fa fa-lg fa-google-plus"></i></a>
					<a href="http://www.youtube.com/user/pumbaEO/feed"><i class="fa fa-lg fa-youtube"></i></a>
                </div>
                    
                <div class="col-md-8 col-lg-8">
                    <h2>Евгений Сосна</h2>
                    <h3>Ведущий</h3>
                    <p><strong>Украина, Запорожье</strong></p>
					<p>Кратко о себе: профессиональный программист 1С:Предприятия. Специализация - автоматизация учета для дистрибьюторских компаний. Активный разработчик скриптов для проекта Снегопат (1С 8.Х), в связи с постоянной работой в конфигураторе и наличии Снегопата, по возможности, превращаю мечты в реальность, а конфигуратор в среду разработки.</p>
                </div>
            
            </div>
        </div>
    </div>
</div>