<div class="container">
	<div class="row">
        <div id="speaker-detail" class="col-lg-6 col-lg-offset-3">
            <div class="row">
            	<button title="Close (Esc)" type="button" class="mfp-close">×</button>
                
                <div class="col-md-4 col-lg-4">
                    <img class="img-responsive" src="img/alexandralehin.jpg" alt="Александр Алехин" /><br />
					<i class="fa fa-lg fa-linkedin"></i>
					<a href="https://www.linkedin.com/in/aan4in">Александр Алехин</a><br />
                </div>
                    
                <div class="col-md-8 col-lg-8">
                    <h2>Александр Алехин</h2>
                    <h3>Программист-консультант 1С</h3>
                    <p>Предпосылкой к прохождению тренингов проекта SB стало стремление работать правильно. То есть так, чтобы в выигрыше (как моральном так и материальном) оставался и я и заказчик. Изобретать велосипед, придумывая всё самому, не было ни какого желания. Информационным технологиям уже много лет, накоплен огромный опыт, выработано множество методик. Мне, чтобы улучшить свое положение, нужно было адаптировать все эти знания под 1С. К счастью и этим мне заниматься не пришлось, т.к. с этой задачей успешно справился Лустин Алексей.</p>
					<hr>
					<p>Я прошел три тренинга ("Разработка на 1С по промышленным стандартам", "Стань владельцем продукта 1С", "Проектирование метаданных 1С") и в планах пройти ещё столько же ("Интеграция корпоративных приложений на платформе 1С", "Разработка и владение облачными решениями на платформе 1С", "Мобильная разработка для бизнеса"). Далее постараюсь без спойлеров (что трудно) рассказать о пройденных тренингех (о  их содержании можно почитать на сайте, я же напишу о том что понравилось больше всего):</p>
					<h2>Разработка на 1С по промышленным стандартам</h2>
					<p>Я ожидал что мне расскажут как грамотно писать код (код, который легко читать и дорабатывать), что собственно и произошло, но на этом всё только начиналось. Далее было знакомство с разработкой через тестирование (TDD), прямо "взрыв мозга", совершенно иной подход к разработке. Методика устроена так, что большинство подводных камней удается выявить и обойти ещё до разработки. Но главное что и сам этап разработки усовершенствован и ведется с помощью специальных обработок, которыми вдоволь удалось насладиться в рамках домашнего задания.</p>
					<p>Следующая тема оказалась не менее интересной. Конечно, сложновато было, из-за не профильного образования, понять как была адаптирован CI (непрерывная разработка) и CD (непрерывная поставка) к 1С, но за две недели (столько дается для решения домашнего задания) благодаря помощи экспертов из SB и эта задача была решена. Да, пришлось по разбираться в инструментарии среди которых GIT, Bitbucket, TeamCity и т.д., но оно того стоило.</p>
					<h2>Стань владельцем продукта 1С</h2>
					<p>Сначала разобрались с определениями (продукт, руководитель (в контексте данного тренинга более углубленные и структурированные понятия чем общепринятые) и т.д.) и соответствующими навыками. Затем прошлись по документации и последовательности действий для запуска продукта по технологии SCRUM, KANBAN, ТБР и т.д. Так же в рамках домашнего задания был освоен Bitbucket.</p>
					<h2>Проектирование метаданных 1С</h2>
					<p>В этом тренинге я узнал о этапах проектирования и о том как выявлять не явные особенности задачи с помощью ТРИЗ (теория решения изобретательских задач); Как определить по тексту задачи какие объекты конфигурации понадобятся; Как пройти путь от концепции до физического проекта, а потом проверить его состоятельность с помощью специального инструментария.</p>
					<hr>
					<p>В данный момент по мимо основной работы я занимаюсь разработкой собственного мобильного приложения. В обоих случаях знания и навыки полученные в тренингах нашли свое применение. На данном этапе использую конспекты из тренингов по проектированию и разработке. На очереди облака и мобильная разработка. А когда мой проект станет развиваться и понадобятся ещё сотрудники, дойдет дело и до тренинга по владению продуктом.</p>
				</div>
            
            </div>
        </div>
    </div>
</div>