/* here you can put your own css to customize and override the theme */
.content-page img {
    width: 100%;
}

.fixed_sidebar.affix {
    top: 86px;
    width: 13%;
}

@media (max-width: 992px) {
    .fixed_sidebar.affix {
        position: relative;
        top: 86px;
        width: auto;
    }

}