/* here you can put your own css to customize and override the theme */

.partners-block img{height:50px}

.description {text-align: left}

.white-back {
    background: rgba(255, 255, 255, 0.8);
    margin: 15px 15px 0 0;
    padding: 25px;
}

.content h1 a, .content h2 a {
    text-decoration: none;
}