@charset "utf-8";
html, body
{
	min-height:100%;
	-webkit-text-size-adjust:100%;
}
body { position:relative; }
input, textarea
{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-webkit-box-shadow:none;
}
iframe {
	width:100%;	
}

/* Common Css */
 .menu, .contaianer, .header-scetion, .footer-section
{
	max-width:960px;
	margin:0 auto;
}
.menu, .contaianer, .header-scetion, .footer-section { max-width:960px; }
.row, .content
{
	overflow:hidden;
	width:100%;
}
.row
{
	position:relative;
	margin:0 0 1px;
}
.col-1
{
	width:25%;
	min-height:239px;
	float:left;
	margin-right:1px;
}
.side-navigation
{
	width:25.1%;
	min-height:239px;
	/*float:left;*/
}
.side-navigation ul { width:101%; }
.chrome .side-navigation ul { margin-left:-1px; }
#portfolio .side-navigation
{
	float: left;
	min-height: 239px;
	width: 74.8%;
}
#portfolio-filter
{
	width:101%;
	margin-left:1px;
}
.col-2
{
	width:74.8%;
	float:left;
	min-height:239px;
}
.banner
{
	width:74.8%;
	float:right;
	min-height:239px;
}
.col-3
{
	width:73%;
	float:right;
	min-height:239px;
}
.contents
{
	width:73%;
	float:right;
	min-height:239px;
}
.formSection
{
	width:50%;
	float:left;
	min-height:239px;
	margin-left:1px;
}
#Contact{background: #ffffff}
#Contact .formSection
{
	width:74.8%;
	float:right;
	min-height:239px;
	margin-left:0;
	background:#fff;
}
.col-1.last { width:24.6%; }
.title
{
	background:#3c3c3c;
	width:22.9%;
	padding-right:2.2%;
	height:239px;
	float:left;
	display:table;
	word-wrap:break-word;
}

.heading
{
	display:table;
	margin:15px 0 15px 0;
}
.fixed .header-scetion { display:none; }
.col-12
{
	width: 100%;
	display:inline-block;
}
.gallery
{
	width: 100%;
	display:inline-block;
}
.details
{
	width: 100%;
	overflow:hidden;
}
.details .col { width: 24.898%; }
.Service
{
	width: 100.5%;
	display:inline-block;
}
#second .Service .col
{
	width:22.9%;
	padding-left:1%;
	padding-right:1%;
}


#testimonial {background: #ffffff}

@media (max-width:960px){
	#second .Service .col
	{
		width:22.9%;
		padding-left:0.9%;
		padding-right:0.9%;
	}
}

.blog_content
{
	width: 100%;
	display:inline-block;
}
.col
{
	float:left;
	width:25%;
}
#intro, .white { background:#fff; }
#second .details .col.white
{
	background:#fff;
	height:218px;
	min-height:0;
	padding-top:21px;
	margin-right:1px;
}
.white:hover { background:#fff !important; }
#second { background:#ebebeb; }
/* Common Css */

/* Header Section Css */
.top
{
	width:100%;
	background:url(../images/header-bg-2.jpg) 0 top no-repeat;
	position:relative;
	background-size:cover;
	padding-bottom: 1px;
	overflow: hidden;
}
.left-repeater
{
	width:100%;
	min-height:480px;
	/* background:#141414; */
	position:absolute;
	top:0;
	left:-50%;
	margin-left: -313px;
}
.creative
{
	width:23%;
	min-height:234px;
	float:left;
	text-align:right;
	/* background:#0E3D52; */
	background:rgba(0,0,0,.4);
	padding-right:20px;
}
.safari .creative { width:25%; }
.safari .title { width:25%; }
.table, .creative
{
	display:table;
	height:480px;
}
.uniqueness
{
	width:72%;
	padding-left:14px;
	padding-top:14px;
	display:table-cell;
	vertical-align:middle;
}
.uniqueness *, .creative * { color:#fff; text-shadow: 0 0 45px rgba(8, 101, 241, 0.97); -moz-text-shadow: 0 0 45px rgba(8, 101, 241, 0.97); -o-text-shadow: 0 0 45px rgba(8, 101, 241, 0.97); -webkit-text-shadow: 0 0 45px rgba(8, 101, 241, 0.97);}
.left-contant
{
	display:table-cell;
	vertical-align:middle;
	margin-right:21px;
	position: relative;
}
.creative strong
{
	font-size:1.8em;
	line-height:1.4;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	display:block;
	text-align:center;
	margin-bottom: 10px;
	padding-top: 4px;
}
.creative span
{
	font-size:1.8em;
	line-height:1.4;
	color:#fff;
	font-weight:400;
	display:inline-block;
}
.creative span a { color:#0052d9; }
.safari .logo { width:25%; }
.chrome .logo { width:23%; }
@media (max-width:960px){
	.chrome .logo { width:22.3%; }
}
.chrome .navigation ul li { height:118px; }
.logo
{
	width:23%;
	height:119px;
	float:left;
	padding-right:20px;
	text-align:right;
	display:table;
	background:rgba(0,0,0,.0);
	text-align:right;
}
/* .safari .logo, */ .ie .logo { padding-bottom:47px }
.logo a
{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.logo a>img  {
	margin-left:20px;
}

/* Navigation css */
.nav-wrapper
{
	width:100%;
	left: 0;
	position: absolute;
	height:120px;
}
.nav-wrapper .left-repeater
{
	height:119px;
	min-height:0;
}
.fixed
{
	position:fixed;
	top:0 !important;
	margin-top:0;
	left:0;
	z-index:10000;
	background:#fff url(../images/header-bg-fixed.jpg) 0% 0px;
}

.logo_fixed {
    background:rgba(0,0,0,.4);
    
}

.navigation-section
{
	display: inline-block;
	width: 100%;
	position:relative;
}
.navigation
{
	width:74.9%;
	float:left;
}
.navigation ul { width:101%; }
.navigation ul li
{
	width:119px;
	height: 119px;
	float:left;
	margin-left:1px;
	text-align:center;
	background:rgba(0,0,0,.5);
	-webkit-transition:background 0.5s ;
	-moz-transition:background 0.5s ;
	-ms-transition:background 0.5s ;
	-o-transition:background 0.5s ;
	transition:background 0.5s ;		
}
.navigation ul li a
{
	font-size:1.4em;
	line-height:1;
	color:#fff;
	display:block;
	cursor:pointer;
	height:100%;
	position:relative;
}
.navigation ul li a span
{
	background:url(../images/nav_icon.png) 0 0 no-repeat;
	display:block;
	height:54px;
}
.navigation ul li a small
{
	bottom: 10px;
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
}
.navigation ul li:hover, .navigation ul li a.active
{
	background:#0052d9;
	color:#fff;
}
.navigation ul li:hover a small, .navigation ul li a.active small { color:#fff; }
.navigation ul li:hover a span, .navigation ul li a.active span
{
	background:url(../images/nav_icon_h.png) 0 -126px no-repeat;
	color:#fff;
}
.navigation ul li.about a span { background-position:6% -34px; }
.navigation ul li.services a span { background-position:23% -34px; }
.navigation ul li.portfolio a span { background-position:41% -34px; }
.navigation ul li.our_team a span { background-position:58% -34px; }
.navigation ul li.testimonial a span { background-position:76% -34px; ; }
.navigation ul li.contact a span { background-position:92% -34px; }
.navigation ul li em
{
	background:url(../images/bullet-nav.png) top left no-repeat;
	width:7px;
	height:3px;
	display:inline-block;
	position:relative;
	top:-3px;
}
.navigation ul li:hover em, .navigation ul li.active_li em { background:url(../images/bullet-nav-h.png) top left no-repeat; }
/* I Phone Navigation */
.iphone-menu
{
	position:relative;
	width:100%;
	display:none;
	z-index:10;
	padding-top:31px;
	padding-bottom:28px;
}
.touch
{
	width:99.8%;
	background:#fff url(../images/i-nav.png) 96% 11px no-repeat;
	border:1px solid #707070;
	height:45px;
	margin:0 auto 0;
	position:relative;
	z-index:10;
	display:none;
}
.i-menu
{
	position:absolute;
	left:0px;
	right:0;
	top:77px;
	width:86.5%;
	margin:0 auto;
	z-index:5;
}
.i-menu ul
{
	background:#969696;
	border-bottom: 2px solid #FFFFFF;
	padding: 0 0 10px 20px;
}
.i-menu ul li { float:none; }
.i-menu ul li a
{
	font-size:1.4em;
	line-height:2.5;
	color:#fff;
	display:block
}
.touch a { 
	display:block;
	padding:0 10px;
}
.touch a span
{
	font-size:1.4em;
	line-height:3;
	color:#646464
}

/* Header Section Css end*/


/* About Section Css */
#intro, #intro .row { margin-top:1px; }
.contaianer { overflow:hidden; }
.banner { position:relative; }
.side-navigation ul li
{
	/*float:left;*/
	text-align:center;
	margin-right:1px;
	margin-bottom:1px;
	/*max-width:241px;*/
}
.side-navigation ul li a
{
	color:#fff;
	font-size:1.4em;
	line-height:1.4;
	width:109.5px;
	height:118px;
	word-wrap:break-word;
	display:block;
	vertical-align:middle;
	padding:0 5px;
	background:#969696;
	transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
}
.side-navigation ul li a:hover, .side-navigation ul li a.selected
{
	background:#0052d9;
	transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
}
.side-navigation ul li a span { display:block; }
.chrome .side-navigation ul li a { width: 350px;height: 70px; }
.point { padding-top:10px; }
.point ul li
{
	font-size: 1.3em;
	line-height: 1.3;
	color: #888888;
	margin-bottom: 12px;
	background: url(../images/bullet.png) left 8px no-repeat;
	padding-left: 10px;
}
.partner { margin-top: 20px; }
.companylogo
{
	padding-top:10px;
	margin-bottom:10px;
}

.companylogo img {
	filter:grayscale(1);
	-webkit-filter:grayscale(1);
	-moz-filter:grayscale(1);
	-o-filter:grayscale(1);
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;	
}

.companylogo img:hover {
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
	-moz-filter:grayscale(0);
	-o-filter:grayscale(0);
}

.partner ul { overflow:hidden; }
.partner ul li
{
	/* float:left; */
	display:inline-table;
	width:18%;
	background: none;
	text-align:center;
	margin: 0 10px 10px 0;
		
}
.partner ul li a { display:block; }
.partner ul li a img { /* max-width:100%; */ }
.contaianer .last { margin-right:0; }
.tabcontent { min-height:245px; }
/* Service Section Css */
#second .col
{
	text-align:center;
	min-height:203px;
	padding-top:36px;
	transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
}
#second .Service article span
{
	/* background-image:url(../images/service_icons.png);
	background-repeat:no-repeat; */
	width:65px;
	height:65px;
	display:inline-block;
	text-align:center;
	margin-bottom:13px;
	position:relative;
}
#second .Service article span img
{
	position:absolute;
	top:0;
	left:0;
	opacity:1;
}
#second .Service article span img + img
{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
#second .col:hover span img + img { opacity:1; }
/* #second .col:hover span {
	background:url(../images/service_icons_h.png);
	background-repeat:no-repeat;
}
#second .special {
	background-position:0 0;
}
#second .flexibileLayout {
	background-position:-83px 12px;
}
#second .developments {
	background-position:-158px 12px;
}
#second .plainingVisons {
	background-position:-227px 12px;
}
#second .col:hover .special {
	background-position:0 0;
}
#second .col:hover .flexibileLayout {
	background-position:-83px 12px;
}
#second .col:hover .developments {
	background-position:-158px 12px;
}
#second .col:hover .plainingVisons {
	background-position:-227px 12px;
} */
#second .col P
{
	display:block;
	line-height:1.5;
	font-size:1.4em;
}
#second .col a
{
	display:inline-block;
	width:100%;
	word-wrap:break-word;
}
#second .col:hover { background:#0052d9; }
#second .col:hover * { color:#fff; }
#second .details .col
{
	text-align:left;
	padding-top:0px;
	min-height:239px;
}
#second .details .col img { display:block; }
#second .overview p { font-size:1.2em }
#second .details .col:hover { background:none; }
#second .details .col:hover * { color:#888888; }
.none { margin-right:0 !important; }
#second .side-navigation ul li a { height:119px; }
#Preferences { width:100.5%; }
/* Portfolio Section */
#portfolio .row { margin:0; }
.pagination
{
	float:right;
	margin-top:-2px;
}
.gallery ul li
{
	float:left;
	margin-right: 1px;
	margin-bottom:1px;
}
.gallery ul li.large { width:49.6%; }
.gallery ul li.medium { width:33%; }
.gallery ul li.small { width:24.7%; }
.gallery ul li a, .gallery ul li a img { display:block; }
.gallery ul li a img { width:100%; }
.gallery ul li a img.light2 {background:#0052d9;}
.pagination ul li
{
	float:left;
	margin-left:1px;
}
.pagination ul li a
{
	font-size:1.4em;
	display:block;
	background:#969696;
	min-width:59px;
	height:59px;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
	color:#fff;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
.pagination ul li a.active { background:#0052D9; }
.pagination ul li a:hover { background:#646464; }
.pagination ul li.prev-btn a { background:#969696 url(../images/prev-btn.png) center center no-repeat }
.pagination ul li.next-btn a { background:#969696 url(../images/next-btn.png) center center no-repeat }
.pagination ul li.prev-btn a:hover { background:#646464 url(../images/prev-btn.png) center center no-repeat }
.pagination ul li.next-btn a:hover { background:#646464 url(../images/next-btn.png) center center no-repeat }
#portfolio .side-navigation li a
{
	width:103px;
	height:119px !important;
	display:table-cell;
	vertical-align:middle;
	padding-top:0px !important;
	padding:0 8px;
}
/* Portfolio Section End  */

/* Team Section */

#team .content
{
	width:100.1%;
	margin-left:-1px;
}
.member
{
	width:49.89%;
	min-height:239px;
	float:left;
	margin-left:1px;
}
.safari #team .content { width:100%; }
.safari .member
{
	width:25%;
	margin-left:0px;
}
.member figure img
{
	width:99.9%;
	display:block;
	margin-bottom:1px;
}
#team .member a
{
	display:block;
	text-align:center;
	min-height: 150px;
	word-wrap:break-word;
	cursor: default;
}
.intro
{
	width:84%;
	padding:5% 8%;
	background:#fff;
	overflow:hidden;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
#team .member strong
{
	color:#323232;
	font-weight:700;
	font-size:2em;
	line-height:1.5;
	display:block;
}
#team .member span
{
	color:#0052d9;
	font-weight:400;
	font-size:1.3em;
	display:block;
	line-height:1.8;
	margin-top:5px;
	margin-bottom:10px;
}
.col-1 figure img { display:block; }
.intro:hover { background:#0052d9; }
.intro:hover * { color:#fff !important; }
#team .social-link ul li
{
	float:left;
	margin-right:1px;
}
#team .social-link ul li a
{
	width:47px;
	height:47px;
	min-height:0;
	display:block;
	background:url(../images/social-icon.png) left top no-repeat;
	padding:0;
}
#team .social-link ul li:hover a { background:url(../images/social-icon_h.png) 0 -47px no-repeat; }
#team .social-link ul li.tweet a { background-position:0 0; }
#team .social-link ul li.tweet-icon a { background-position:-96px 0px; }
#team .social-link ul li.facebook a { background-position:-48px 0px; }
#team .social-link ul li.linkedin a { background-position:-144px 0px; }
/* Team Section Section End*/

/* Blog first Section */
#blog { padding-top:1px; }
#blog .container { margin-top:-1px; }
#blog #container { margin-bottom:-5px; }
.comment ul
{
	width:100%;
	text-align:center;
}
.comment ul li
{
	display:inline-cell;
	margin:0 0 2px 2px;
	vertical-align:top;
}
#blog p { font-size:1.2em; }
.blog-comment
{
	padding:14px;
	position:relative;
}
.blog-comment h6 { margin-bottom:14px; }
.blog-comment p { margin-bottom:20px; }
#blog .title
{
	margin:0 0 1px!important;
	padding-right:0;
	width: 24.9%;
}
#blog .title div
{
	margin-right:20px;
	display:table;
	height:239px;
	width:91.5%;
}
.blog-comment samp
{
	background:url(../images/blog_corner.png) left top no-repeat;
	width:30px;
	height:15px;
	display:block;
	position:absolute;
	top:-15px;
	left:15px;
}
.blog-comment span
{
	width:38%;
	float:left;
	display:block;
	color:#888888;
	font-size:1.2em;
	line-height:1.3;
}
.blog-comment h6 a { color:#323232; }
.blog-comment h6 a:hover { color:#0052d9; }
.comment-like
{
	width:50%;
	float:right;
	text-align:right;
	padding-bottom:29px;
}
.comment-like a
{
	display:inline-block;
	color:#888888;
	font-size:1.2em;
	margin-left:10px;
	padding-left:20px;
}
#container
{
	background: #EBEBEB;
	padding:0px;
	width:100%;
	margin-bottom: 20px;
	clear: both;
}
.centered { margin: 0 auto; }
.box
{
	margin:0 0 10px;
	background:#333;
}
.box.col-1
{
	float:none;
	width:24.9%;
	background:#fff;
	min-height:0;/* margin-left:1px; */
}
.box.col-1 img { width:100%; }
.rtl .box
{
	float: right;
	text-align: right;
	direction: rtl;
}
.box.col-1.title
{
	background:#3C3C3C;
	min-height: 239px;
}
.box.col-1.post, .box.col-1 .blogpost { background:#141414; }
.box.col-1.post .blog-comment, .box.col-1 .blogpost .blog-comment
{
	padding:30px 20px 10px 40px;
	background:url(../images/icon_img.png) 20px 33px no-repeat;
}
.box.col-1 .blogpost .blog-comment
{
	padding:25px 20px 25px 40px;
	background-position:20px 25px;
}
.box.col-1 .blogpost .blog-comment p { margin-bottom:5px; }
#blog .box.col-1.post p, #blog .box.col-1 .blogpost small, #blog .box.col-1 .blogpost p
{
	border-left:1px solid #2f2f2f;
	padding-left:10px;
	font-style:italic;
	font-size:1.4em;
	line-height:1.5;
	color:#fff;
}
#blog .box.col-1 .blogpost small
{
	display:block;
	font-style:inherit;
	line-height:1;
}
.transitions-enabled.masonry, .transitions-enabled.masonry .masonry-brick
{
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.transitions-enabled.masonry
{
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.transitions-enabled.masonry .masonry-brick
{
	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}
.transitions-enabled.infinite-scroll.masonry
{
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-ms-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
.mrg { margin-left:24.8%; }
/* Blog first end Section */

/* Blog second Section */
#blog-second
{
	position:absolute;
	top:0;
	left:0;
	z-index:999999;
	width:100%;
	height:100%;
	padding-top:30px;
}
.comment-button
{
	overflow:hidden;
	margin-top: 102px;
	background:#fff;
	width:100%;
}
.comment-button li
{
	float:left;
	margin-right:1px;
	background:#969696;
}
.comment-button li:hover { background:#0052d9; }
.comment-button li a
{
	display:block;
	width:59px;
	height:59px;
}
.comment-button li.like-heart a { background:url(../images/like.png) center center no-repeat; }
.comment-button li.comment-menu a { background:url(../images/menu-bg.png) center center no-repeat; }
.comment-button li.prev-comment a { background:url(../images/prev-btn.png) center center no-repeat; }
.comment-button li.next-comment a { background:url(../images/next-btn.png) center center no-repeat; }
.commnet-details { margin-top: 21px; }
.commnet-details li
{
	color:#888888;
	font-size:1.2em;
	margin-bottom: 12px;
}
.commnet-details li a
{
	color:#888888;
	padding-left:20px;
}
.comment-bg { background:url(../images/comment-bg.png) left center no-repeat; }
.like-bg { background:url(../images/like_bg.png) left center no-repeat; }
.blog-content{padding: 24px 13px; background:#fff;}
.blog-content p { font-size: 1.2em; }
.social-icon { background:#fff; }
.social-icon ul
{
	display:inline-block;
	width:100%;
}
.social-icon ul li
{
	float:left;
	margin-left:1px;
	margin-bottom:1px;
}
.social-icon ul li a
{
	width:47px;
	height:47px;
	display:block;
	background:url(../images/media_icon.png) left top no-repeat;
}
.social-icon ul li:hover a { background:url(../images/media_icon_h.png) left top no-repeat; }
.social-icon ul li.twitter a { background-position:0 0; }
.social-icon ul li.fb a { background-position:-48px 0; }
.social-icon ul li.g-plus a { background-position:-96px 0; }
.social-icon ul li.rss a { background-position:-144px 0; }
.social-icon ul li.flickr a { background-position:-192px 0; }
.social-icon ul li.myspace a { background-position:-241px 0; }
.social-icon ul li.in a { background-position:-289px 0; }
.social-icon ul li.be a { background-position:-337px 0; }
.social-icon ul li.dribbble a { background-position:-385px 0; }
.social-icon ul li.forrst a { background-position:-433px 0; }
.comment-number
{
	font-size:1.6em;
	color:#fff;
	background:#3c3c3c;
	display:block;
	padding:21px 13px;
	margin-top: -2px;
	border-top:1px solid #ebebeb;
}
.comment-list
{
	overflow:hidden;
	margin-bottom:1px;
}
.comment-list ul li
{
	float:right;
	background:#fff url(../images/commented.png) 14px 31px no-repeat;
	padding:27px 18px 15px 65px;
	border-bottom:1px solid #ebebeb;
}
.comment-list ul li span
{
	color:#323232;
	font-size:1.3em;
	line-height:1.4;
	display:block;
	margin-bottom:6px;
}
.comment-list ul li small
{
	font-size:1.3em;
	line-height:1.5;
	color:#b4b4b4;
	display:block;
	padding-bottom:18px;
}
.comment-list ul li small a { color:#b4b4b4; }
.comment-list ul li.commnet-fst { background:url(../images/commented.png) no-repeat 14px 31px #fafafa }
.comment-list ul li.commnet-scnd { background:url(../images/commented.png) no-repeat 14px 31px #fafafa }
.leave-comment
{
	overflow:hidden;
	padding:20px 0px 0;
	width:100%;
	background:#fff;
	margin-top:-1px;
}
.post { margin-left:14px; }
.leave-comment span
{
	font-size:1.6em;
	color:#323232;
	display:block;
	line-height:1.8;
}
.leave-comment small
{
	font-size:1.3em;
	color:#888888;
}
.leave-comment ul
{
	overflow:hidden;
	margin-top:41px;
}
.leave-comment ul li
{
	display:inline-block;
	vertical-align:bottom;
	width:45.5%;
	margin-right:16px;
	margin-bottom: 17px;
	margin-left: 14px;
}
.name { clear:left; }
.leave-comment ul li.grid-1 { width:98.5%; }
.leave-comment ul li.grid-1 input[type="text"]
{
	width:43%;
	display:block;
}
.leave-comment ul li.text-field
{
	margin-right:0;
	width:96%;
}
.leave-comment ul li.submit-area
{
	margin:0;
	width:100%;
	background:#3c3c3c;
	display:inline-block;
	margin-top:8px;
}
.leave-comment ul li div
{
	float:left;
	width:87%;
	padding:20px 14px;
}
.submit-area span
{
	color:#fff;
	font-size:1.3em;
	line-height:1.4;
	display:inline-block;
	text-align:right;
	float:right;
}
.submit-area small
{
	color:#888888;
	font-size:1.3em;
	line-height:1.4;
	display:inline-block;
}
.submit-area .thanks div
{
	float:left;
	width:82%
}
/* Blog second End Section */

/* Conatact Section */

.banner iframe {
	width:100%;
	height:240px;
	border:0px;
	overflow:auto;
}
#Contact address ul li
{
	color:#888888;
	font-size:1.3em;
	line-height:1.4;
	padding-left:30px;
	margin-bottom: 21px;
	word-wrap: break-word;
}
#Contact { margin-top:-6px; }
#Contact address ul li.adr { background:url(../images/location.png) left top no-repeat; }
#Contact address ul li.tel { background:url(../images/tel.png) left top no-repeat; }
#Contact address ul li.mail
{
	background:url(../images/mail.png) left top no-repeat;
	margin-bottom:0;
}
#Contact address ul li span { display:block; }
#Contact .adress-area { padding:0 13px 20px 15px; }
#Contact .col-1 { background:#fff; }
#Contact .col-1 strong, .social-area strong
{
	color:#b4b4b4;
	font-size:3.4em;
	display:block;
	text-align:center;
	letter-spacing: 8px;
	margin-bottom:8px;
}
.contact-title
{
	float:left;
	width:50%;
	padding-left:14px;
}
.I-none
{
	height:200px;
	display:table;
	border-top:1px solid #ebebeb;
	width:100%;
	word-wrap:break-word;
}
.chrome .I-none { height:210px; }
.safari .I-none { height:210px; }
.grid
{
	display:table-cell;
	vertical-align:middle;
}
#Contact .row { margin-bottom:0; }
#Contact .col-1 small, .social-area small
{
	display:block;
	color:#b4b4b4;
	font-size:1.3em;
	text-align:center;
}
#Contact .get-touch ul li
{
	width:46%;
	margin-right:0;
	display:inline-block;
	vertical-align:bottom;
	margin-bottom: 10px;
	margin-left: 14px;
}
#Contact .get-touch ul li.grid-1 { width: 98.5%; }
#Contact .get-touch ul li.grid-1 input[type="text"]
{
	display: block;
	width:43.5%;
}
#Contact .get-touch ul li.text-field { width:93%; }
#Contact .get-touch ul li.name { margin-right: 10px; }
#Contact .get-touch ul li.text-field { width:94.8%; }
#Contact .get-touch ul li.submit-area { width:100%; }
#Contact .get-touch ul li .thanks
{
	width:80%;
	float:left;
	padding:22px 14px 0;
}
#Contact .content { position: relative; }
#Contact .get-touch ul li.submit-area
{
	margin: 22px 0 0;
	background: #3c3c3c;
	display: inline-block;
}
.name small
{
	color: #888888;
	font-size: 1.3em;
}
.get-touch
{
	width:100%;
	display:inline-block;
	margin-top:-30px;
}
#Contact .leave-comment { padding-bottom:0; }
.contact-title
{
	float:left;
	width:50%;
}
.I-social { display:none }
#Contact .social-icon
{
	width:240px;
	float:right;
	margin-right:13px;
	position:relative;
	z-index:100;
}
.contact-form
{
	overflow: hidden;
	padding: 20px 0px 0;
	width: 100%;
	background: #fff;
	position:relative;
}
.contact-title span
{
	font-size: 1.6em;
	color: #323232;
	display: block;
	line-height: 1.8;
}
.contact-title small
{
	font-size: 1.3em;
	color: #888888;
}
/* Conatact End Section */
/* Footer Section */
.footer
{
	width:100%;
	min-height:61px;
	background:#141414;
}
.footer-section
{
	padding-top:26px;
	position:relative;
}
.footer-section span
{
	float:left;
	color:#5a5c5c;
	font-size:1.2em;
	width:40%;
	margin-left: 15px;
}
.footer-section span a { color:#0052d9; }
.footer-section nav
{
	float:right;
	color:#5a5c5c;
	width:40%;
	margin-right: 15px;
}
.footer-section nav ul
{
	float:right;
	text-align:right;
}
.footer-section nav ul li
{
	float:left;
	color:#5a5c5c;
	margin-left: 10px;
}
.footer-section nav ul li a
{
	color:#5a5c5c;
	font-size:1.2em;
	color:#5a5c5c;
}
.footer-section a:hover { color:#0052d9; }
.go-top
{
	background:url(../images/gotop.png) left top no-repeat;
	width:59px;
	height:59px;
	position:absolute;
	right:-60px;
	top:-59px;
	cursor:pointer;
    transition: all 800ms; 
    -o-transition: all 800ms; 
    -moz-transition: all 800ms; 
    -webkit-transition: all 800ms; 	
	
}
/* Footer end Section */

/* Infinite Scroll loader */
#infscr-loading
{
	width:239px;
	height:120px;
	padding-top:119px;
	color: #FFF;
	text-align: center;
	background: #0052d9;
	opacity:1;
	display:table-cell;
	vertical-align:middle;
	font-size:1.6em;
	font-family: 'PT Sans', sans-serif;
	z-index: 100;
	position: absolute;
	right:0;
	bottom:10px;
}
/* Content - Portfolio Listing */

ul#portfolio-filter a:hover, ul#portfolio-filter a.current { color: #fff; }
ul#portfolio-filter a.current { background-color: #0052D9; }
ul#portfolio-list
{
	list-style: none;
	width:101%;
}
ul#portfolio-list li
{
	display: block;
	float: left;
}
ul#portfolio-list li a
{
	display: block;
	overflow: hidden;
	position:relative;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
ul#portfolio-list li a:hover img
{
	opacity:0.5;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
ul#portfolio-list li a:hover img.light2 { opacity:1; }
ul#portfolio-list li p
{
	font-size: 11px;
	line-height: 15px;
	color: #AAA;
	margin: 5px 0;
}
ul#portfolio-list li a img.light2
{
	width:119px;
	height:119px;
	position:absolute;
	top:50%;
	left:50%;
	z-index:9;
	margin-top:-59px;
	margin-left:-59px;
}
#cboxCurrent { display:none !important; }
/* Tiny Scrollbar */

 .scrollbar1 .viewport
{
	width: 189px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.scrollbar1 .overview
{
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
.scrollbar1 .scrollbar
{
	position: relative;
	background-position: 0 0;
	float: right;
	width: 8px;
}
.scrollbar1 .thumb
{
	background:#0052d9;
	height: 30px;
	width: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:0px;
}
.scrollbar1 .disable { display: none; }
.close
{
	background: url(../images/close_button.png) no-repeat scroll 0 0 transparent;
	top:-24px;
	height:45px;
	position: absolute;
	right:-20px;
	text-indent: -9999px;
	width:45px;
	z-index:999999;
}
.contentssss
{
	margin:0;
	width:239px;
	height:239px;
	overflow:auto;
	background:#333;
}
.overlay-wrap
{
	position:absolute;
	width:100%;
	min-height:100%;
	background:#000;
	z-index:999999;
	top:0;
	display:none;
}
#blog-second .contaianer
{
	position:relative;
	overflow:inherit;
}
#blog-second .title { width:97.8%; }
#blog-second .col-1
{
	margin-right:0;
	background:#fff;
}
#blog-second .banner { width:75%; }
.social-area { display:none; }
#blog-second .social-icon ul
{
	bottom: -3px;
	position:relative;
}
#blog-second textarea {  width:96.9%; }
.chrome .banner { width: 74.8%; }
.chrome .banner_recomend { width: 74.8%; position:relative}
.recomend { 
position: absolute;
display: block;
height: 40px;
width: 285px;
background: rgba(0,0,0,.5);
bottom: 10px;
right: 5px;
padding: 10px;
font-size: 18px;
font-weight: bold;
color: #fff;
text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
-webkit-text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
-moz-text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
-o-text-shadow: 3px 3px 5px rgba(0,0,0,0.7);}
@media (max-width:1200px){
	.chrome .banner { width: 72.8%; }
}
.chrome .navigation { width:74.9%; }
.chrome #portfolio .side-navigation { width: 74.8% }
.chrome .contents { width:72.8%; }
.chrome #intro .side-navigation { /*width: 25%;*/ }


.right_menu {
    
    position: absolute;
    z-index: 999;
    right: 0;
    top: 300px;
    -webkit-transition: all 0.5s ease 0.3s;
    -moz-transition: all 0.5s ease 0.3s;
    -ms-transition: all 0.5s ease 0.3s;
    -o-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;    
}


.navigation_rigth
{
    width:74.9%;
}
.navigation_rigth ul { width:101%; }

.navigation_rigth ul li
{
    
    width: 5px;
    height: 5px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 10px;
    text-align: center;

    background:#7984FF;
    -webkit-transition: position 0.5s ease ;
    -moz-transition:  position 0.5s ease ;
    -ms-transition:  position 0.5s ease ;
    -o-transition:  position 0.5s ease ;
    transition:  position 0.5s ease ;        
       
}

.navigation_rigth ul li.services1 {
    border: none;
    background: url(../images/up.png);
    width: 10px;
    height: 10px;
    position: relative;
    left: -2px;
    
}
.navigation_rigth ul li.services1:hover {
    border: none;
    background: url(../images/up.png);
    width: 10px;
    height: 10px;
    position: relative;
    left: -2px;
}
.navigation_rigth ul li a
{
    font-size: 1em;
    line-height:1;
    color:#b4b4b4;
    display:block;
    cursor:pointer;
    height:100%;
    position:relative;
}
.navigation_rigth ul li a span
{
    background:url(../images/nav_icon.png) 0 0 no-repeat;
    display:block;
    height:54px;
}
.navigation_rigth ul li a small
{
    bottom: -5px;
    left: -110px;
    display: block;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    color:#fff; 
    
    padding: 4px 0px; 
    font-size: 12px;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: background 0.5s ease ;
    -moz-transition:  background 0.5s ease ;
    -ms-transition:  background 0.5s ease ;
    -o-transition:  background 0.5s ease ;
    transition:  background 0.5s ease ;    
     
}
.navigation_rigth ul li a.active
{
    color:#000;
}

.navigation_rigth ul li:hover, .navigation_rigth ul li.active
{
    background:#fff;
    width: 10px;
    height: 10px;
    position: relative;
    left:-2px;
    bottom: 2px;
    margin-bottom: 5px;
    
}

.navigation_rigth ul li:hover a small, .navigation_rigth ul li a.active small { 
     color:#fff; 
     background: rgba(0,0,0, .5);
}
.navigation_rigth ul li:hover a span, .navigation_rigth ul li a.active span
{
    background:url(../images/nav_icon_h.png) 0 -126px no-repeat;
    color: #000;
}
.navigation_rigth ul li.about a span { background-position:6% -34px; }
.navigation_rigth ul li.services a span { background-position:23% -34px; }
.navigation_rigth ul li.portfolio a span { background-position:41% -34px; }
.navigation_rigth ul li.our_team a span { background-position:58% -34px; }
.navigation_rigth ul li.testimonial a span { background-position:76% -34px; ; }
.navigation_rigth ul li.contact a span { background-position:92% -34px; }
.navigation_rigth ul li em
{
    background:url(../images/bullet-nav.png) top left no-repeat;
    width:7px;
    height:3px;
    display:inline-block;
    position:relative;
    top:-3px;
}
.navigation_rigth ul li:hover em, .navigation_rigth ul li.active_li em { background:url(../images/bullet-nav-h.png) top left no-repeat; }


/*CUSTOM*/
.partners-wrap {width: 100%;overflow-y: hidden;overflow-x: auto;margin-bottom: 10px;}
.partners {margin-bottom:10px;width:1200px}
.partner-block {float:left}
.metro-tile {background: #f3f3f3;display: block;text-align: center;padding-top: 15px;}

.bp img {
width:189px;
}

.header_partners_block {
    position: absolute;
    top: 10px;
    margin-left: 47px;
    padding-right: 25px;
}

.partner-list ul li{
    position: relative;
    /*display:inline-table;*/
    margin: 5px;
    
}

.partner-list ul li img{
    width: 100%;  

    /*opacity: .5;
    -o-opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;*/
    filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    transition: all 800ms; 
    -o-transition: all 800ms; 
    -moz-transition: all 800ms; 
    -webkit-transition: all 800ms; 
}

.partner-list ul li img:hover{
    width: 100%;  
    opacity: 1;
    -o-opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}


.fa_menu {
    margin-bottom: 15px;
    
}

.slider1 {
    height: 239px;
    overflow: hidden;
}

/*Стлии шрифтов*/

.MarkDotto{

font-size:30px;
color: #fff;    
text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);    
}

.GordonHall {
font-size:30px;    
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);

}

/*Легенды диаграмм*/

.legend { 
    width: 300px;float: right; font-size: 12px; margin-top: 10px;margin: 55px 0 0 40px;
    
}
.legend i {
    margin-right: 10px;
    
}

.legend ul li {
    float:left;
    margin-right: 10px;
}


.fran {    
    position: absolute;
    bottom: 0;
    z-index: 9999
}

.layer1{background:url(../images/bg_1.png);}
.layer2{background:url(../images/bg_2.png);}
.layer3{background:url(../images/bg_3.png);}
.layer4{background:url(../images/bg_2.png);}
.layer5{background:url(../images/bg_1.png);}

.ribbon {
    width: 357px;
    position: absolute;
    right: -85px;
    top: 65px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    font-size: 19px!important;
    background: #5083c1;
    background: -webkit-gradient(linear, left top, left bottom, from(#5083c1), to(#2169c2));
    background: -webkit-linear-gradient(top, #5083c1, #2169c2);
    background: -moz-linear-gradient(top, #5083c1, #2169c2);
    background: -ms-linear-gradient(top, #5083c1, #2169c2);
    background: -o-linear-gradient(top, #5083c1, #2169c2);
    background-image: -ms-linear-gradient(top, #5083c1 0%, #2169c2 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
    z-index: 999;
    }
    progtb.ru/media="all"
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }
.ribbon h1 {
   font-size: 19px!important;
   color: #ffffff;
   text-shadow: #121f30 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #5083c1;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #173d6b transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }